body{
    background-image: url(./../img/marvel.jpg);
    background-size: cover;
}

header {
    height: 100px;
    color: rgb(187, 0, 0);
    text-align: center;
    font-family: 'Poller One', cursive;
    font-size: 60px;
}

h1{
    color: rgb(187, 0, 0);
}

.scrolling-wrapper { display: flex; min-width: 100%; min-height: 400px; overflow:scroll}  ;
.scrolling-wrapper-comics { display: flex; min-width: 100%; min-height: 900px; overflow:scroll}  ;

.card { 
    margin: 5px; 
    overflow-x: auto ;
    min-width:33%;
    } ;

.card img{
    height: 80%;
}