body{
    background-image: url(./../img/starwars.jpg);
    background-size: cover;
}

header {
    height: 100px;
    color: white;
    text-align: center;
    font-family: 'Poller One', cursive;
    font-size: 60px;
}